$map-width: 100%;
$map-height: 100%;

$tiffany-blue: #81d8d0;
$picton-blue: #3e8ede;
$blue-grey: #6699cc;
$water-blue: #ebf4fa;
$water-blue-background: #fcfcff;

$tablet-size: 1024px;
$phone-size: 767px;